// Color Variables
$primary-color: #AD4BC9;
$secondary-color: #2FCDFF;
$tertierary-color: #FFB82F;
$text-color: #000000;
$background-color: #DEF7FF;

// Font Variables
$font-family-base: 'Inter';
$font-size-base: 16px;

// Gradient Variables
$button-gradient: linear-gradient(45deg, #AD4BC9, #FF6B00);
